body{
    background-image: url(../images/screenshot.png);
    height: 8777px;
}
/*common styles*/
.container{
    width:1110px;
    margin: 0 auto;
}
#quick-links{
    height: 40px;
    background: #ff000047;
}
#header{
    height: 93px;
    background: #0000ff54;
}
#banner{
    height: 390px;
    background: #ffff0094;
}
#highlights{
    height: 367px;
    background: #0080006e;
    padding: 48px 0 0 0;
}
#highlights  .f-container{
    display: flex;
   justify-content: space-around;
}
#highlights .f-item{
    flex-basis: 9%;
    padding: 65px;
    background-color: #ffff;
    box-shadow: #13131294 0 0 15px;
    border-radius: 8px;

}
#about{
    height: 815px;
    background: #00ffff61;
}
#skills{
    height: 250px;
    background: #a52a2a6b;
}
#statistics{
    height: 225px;
    background: #b8860b70;
}
#statistics .f-container{
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
}
#statistics .f-item{
    flex-basis: 120px;
    background-color: #ffff;
    box-shadow: rgb(17, 15, 15) 0 0 15px;
    border-radius: 8px;
    padding: 42px;
}
#clients{
    height: 165px;
    background: #ff8c00bf;
}
#clients .f-container{
    display:flex;
    justify-content: space-around;
    padding-top: 50px;
}
#clients .f-item{
    flex-basis: 100px;
    background-color: #ffff;
    box-shadow: rgb(20, 16, 16) 0 0 15px;
    border-radius: 8px;
    padding: 16px;
}
#service{
    height: 934px;
    background: #ff00ff5e;
}
#service .section-title{
    height: 218px;
}

#service .f-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
#service .f-item{
    flex-basis: 15%;
    padding: 100px;
    background-color: #ffff;
    box-shadow: rgb(36, 24, 24)  0 0 15px;
    border-radius: 8px;

}
#testimonial{
    height: 434px;
    background: #661a9280;
}
#portfolio{
    height: 1437px;
    background: #87ceeb80;
}
#team{
    height: 667px;
    background: #ff63478c;
}
#team .section-title{
    height: 237px;
}
#team .f-container{
    display: flex;
    justify-content: space-around;
}
#team .f-item{
    flex-basis: 9%;
    padding: 50px;
    background-color: #ffff;
    box-shadow: rgb(22, 21, 21) 0 0 15px;
    border-radius: 8px;
}
#pricing{
    height: 716px;
    background: #ff00ff73;
}
#pricing .section-title{
    height: 237px;
}
#pricing .f-container{
    display: flex;
    justify-content: space-around;
}
#pricing .f-item{
    background-color: #ffff;
    box-shadow: rgb(8, 8, 8) 0 0 15px;
    border-radius: 8px;
    padding: 55px;
    flex-basis: 10%;
}
#faq{
    height: 660px;
    background: #0000808c;
}
#faq .section-title{
    height: 246px;
}
#contact{
    height: 879px;
    background: #a0522d85;
}
#newsletter{
    height: 240px;
    background: #9acd327d;
}
#footer{
    height: 340px;
    background: #7b858085;
}
#footer .f-container{
    display: flex;
    justify-content: space-around;
}
#footer .f-item{
    background-color: #ffff;
    box-shadow: rgb(19, 18, 18) 0 0 15px;
    border-radius: 8px;
    padding: 51px;
    flex-basis: 14%;
}
#legals{
    height: 77px;
    background: #a52a2a85;
}











