body{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    background-image: url(../images/screenshot.png);
    height: 8777px;
}
/*common styles*/
.container{
    width:1110px;
    margin: 0 auto;
}
.primary-btn{
background: #106eea;
display: inline-block;
padding: 13px 33px;
border-radius: 5px;
color: white;
text-decoration: none;
}
.secondary-btn{
color: black;
text-decoration: none;
}
#quick-links{
    height: 40px;
    background: #ff000047;
}
#quick-links .f-container{
    display: flex;
    justify-content: space-between;
}
#quick-links .f-item{

}
#header{
    height: 93px;
    background: #0000ff54;
}
#banner{
    height: 390px;
    background-image:url(../images/hero-bg.jpg);
    background-size:cover;
    position: relative;
}
#banner .white-overlay{
    background: rgba(255, 255, 255, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
#banner .f-container{
    padding-top: 118px;
    position: relative;
    z-index: 3;
}
#banner h1{
    font-size: 48px;
}
#banner h1 span{
    color: #106eea;
}
#banner p{
    padding-top: 11px;
    font-size: 21px;
}
#banner .cta-wrapper{
    padding-top: 35px;
} 
#banner .cta-wrapper a.primary-btn{
    margin-right: 60px;
}
#banner .cta-wrapper a.secondary-button{

}
#highlights{
    height: 367px;
    padding: 48px 0 0 0;
}
#highlights  .f-container{
    display: flex;
   justify-content: space-around;
}
#highlights .f-item{
    flex-basis: 9%;
    padding: 65px;
    background-color: #ffff;
    box-shadow: #13131294 0 0 15px;
    border-radius: 8px;

}
#about{
    height: 815px;
    background: #00ffff61;
}
#about .section-title{
    text-align: center;
    height: 186px;
}
#about .f-container{
    display: flex;
}
#about .f-item{
    flex-basis: 50%;
}
#skills{
    height: 250px;
    background: #a52a2a6b;
}
#statistics{
    height: 225px;
}
#statistics .f-container{
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
}
#statistics .f-item{
    flex-basis: 120px;
    background-color: #ffff;
    box-shadow: rgb(17, 15, 15) 0 0 15px;
    border-radius: 8px;
    padding: 42px;
}
#clients{
    height: 165px;
}
#clients .f-container{
    display:flex;
    justify-content: space-around;
    padding-top: 50px;
}
#clients .f-item{
    flex-basis: 100px;
    background-color: #ffff;
    box-shadow: rgb(20, 16, 16) 0 0 15px;
    border-radius: 8px;
    padding: 16px;
}
#service{
    height: 934px;
}
#service .section-title{
    height: 218px;
}

#service .f-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
#service .f-item{
    flex-basis: 15%;
    padding: 100px;
    background-color: #ffff;
    box-shadow: rgb(36, 24, 24)  0 0 15px;
    border-radius: 8px;

}
#testimonial{
    height: 434px;
    background: #661a9280;
}
#portfolio{
    height: 1437px;
    background: #87ceeb80;
}
#team{
    height: 667px;
}
#team .section-title{
    height: 237px;
}
#team .f-container{
    display: flex;
    justify-content: space-around;
}
#team .f-item{
    flex-basis: 9%;
    padding: 50px;
    background-color: #ffff;
    box-shadow: rgb(22, 21, 21) 0 0 15px;
    border-radius: 8px;
}
#pricing{
    height: 716px;
}
#pricing .section-title{
    height: 237px;
}
#pricing .f-container{
    display: flex;
    justify-content: space-around;
}
#pricing .f-item{
    background-color: #ffff;
    box-shadow: rgb(8, 8, 8) 0 0 15px;
    border-radius: 8px;
    padding: 55px;
    flex-basis: 10%;
}
#faq{
    height: 718px;
    background: #0000808c;
}
#faq .section-title{
    height: 246px;
}
#contact{
    height: 873px;
    background: #a0522d85;
}
#contact .section-title{
    height: 183px;
}
#contact .f-container{
    display: flex;
    flex-wrap: wrap;
}
#contact .f-item{
    text-align: center;
   
}
#contact .f-item.size-a{
    flex-basis:50% ;
}
#contact .f-item.size-b{
    flex-basis: 25%;
}
#newsletter{
    height: 240px;
    background: #9acd327d;
}
#footer{
    height: 288px;
}
#footer .f-container{
    display: flex;
    justify-content: space-around;
}
#footer .f-item{
    background-color: #ffff;
    box-shadow: rgb(19, 18, 18) 0 0 15px;
    border-radius: 8px;
    padding: 51px;
    flex-basis: 14%;
}
#legals{
    height: 77px;
    background: #a52a2a85;
}
#legals .f-container{
    display: flex;
    justify-content: space-between;
}
#legals .f-item{

}










